                                                     Module 7 Project
                                                     Biraj Thapa
                                                     CPSMA-3913-01
                                                     Instructor(s): Nicholas C Jacob, PhD

# Three Propositions
Since I am a sports fan, I'll base my propositions on my likings. The three propositions I picked were related to my liking for certain sports. I like football and basketball, whereas I'm not much of a fan of tennis. I'll assign p, q, and r to my propositions.
p = I like Football
q = I like Basketball
r = I like Tennis 

I would represent them as Football, Basketball and Tennis in my code respectively.

In [1]:
#I like football = p
#I like basketball = q
#I like tennis = r
Football = True
Basketball = True
Tennis = False

# Truth of the Statements
## r ∧ p 
This statement in words will be 
"I like Tennis and I like Football"
Which will obviously be false because I don't like Tennis.

In [2]:
Tennis and Football

False

## r ∨ ¬q
This statement in words will be
"I like Tennis or I do not like Basketball"
This should output false because both of the statements are not true.

In [4]:
Tennis or not Basketball

False

## r ⇒ p
We can also represent r ⇒ p as ¬r ∨ p.
This statement in words will be
"I do not like Tennis or I like Football."
This should output true because both of the statements are true.

In [5]:
not Tennis or Football

True

# Generating Truth Table for Propositions

In [15]:
import ttg

table = ttg.Truths(['P', 'Q', 'R'], ['~Q', 'R and P', 'R or ~Q', 'R => P'], ints = False)
table.as_pandas().style.set_properties(**{'text-align': 'left'}).hide_index()

C:\Users\ALI\AppData\Local\Temp\ipykernel_6212\1963110101.py:4: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  table.as_pandas().style.set_properties(**{'text-align': 'left'}).hide_index()

# Generating Truth Table
## ¬ (r ⊕ p) ⇒ (p ∨ q)
We will generate truth table for ¬ (r ⊕ p) ⇒ (p ∨ q) by importing truth table generator library.

In [13]:
table = ttg.Truths(['P', 'Q', 'R'], ['P xor Q', '~(P xor Q)', 'Q or R', '(~(P xor Q)) => (Q or R)'], ints = False)
table.as_pandas().style.set_properties(**{'text-align': 'left'}).hide_index()

C:\Users\ALI\AppData\Local\Temp\ipykernel_6212\2891773905.py:2: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  table.as_pandas().style.set_properties(**{'text-align': 'left'}).hide_index()

# Findings in Words
The "truth table" above was a tautology if not for the last entry. It is not a contradiction. Instead, the table is contingency because it is neither tautology nor contradiction.

# Describe your propositions
I described my propositions above with each statement. Initially, my propositions were centred around sports, where I assigned true values to my liking of football and basketball, whereas I assigned a false value to my liking of tennis. I proved logic using my statements.